---
import GitHub from "./icons/GitHub.astro";
import Web from "./icons/Web.astro";
import Social from "./Social.astro";

const PROJECTS = [
    {
        title: "Eukariae App",
        description:
            "Eukaria App is a Project for a company especializada en producto relacionados a los animales.",
        link: "https://eukariae.vercel.app/",
        github: "https://github.com/EdOliveros/Eukariae",
        tags: ["tag1", "tag2", "tag3"],
    },
    {
        title: "Eukariae API",
        description:
            "Eukaria App is a Project for a company especializada en producto relacionados a los animales.",
        link: "https://eukariae-api.onrender.com/admin/login",
        github: "https://github.com/EdOliveros/Eukariae-API",
        tags: ["tag1", "tag2", "tag3"],
    },
    {
        title: "Weather App",
        description:
            "Eukaria App is a Project for a company especializada en producto relacionados a los animales.",
        link: "https://edoliveros.github.io/WeatherApp/",
        github: "https://github.com/EdOliveros/WeatherApp",
        tags: ["tag1", "tag2", "tag3"],
    },
    {
        title: "Primordial App",
        description:
            "Primordial is a Project for a company especializada en producto relacionados a los animales.",
        link: "https://primordial-two.vercel.app/",
        github: "https://github.com/EdOliveros/Primordial",
        tags: ["tag1", "tag2", "tag3"],
    },
];
---

{
    PROJECTS.map((project) => (
        <article class="flex flex-col items-stretch bg-neutral-primary-soft p-6 border border-white/10 rounded-2xl shadow-xl md:flex-row md:max-w-4xl gap-8 mb-8 transition-all hover:border-white/20 ml-4">
            <a
                href={project.link}
                target="_blank"
                rel="noopener noreferrer"
                class="w-full md:w-1/2 overflow-hidden rounded-xl shadow-2xl group"
            >
                <img
                    class="object-cover w-full h-56 md:h-full transition-transform duration-500 group-hover:scale-105"
                    src={`https://api.microlink.io/?url=${encodeURIComponent(project.link)}&screenshot=true&meta=false&embed=screenshot.url`}
                    alt={project.title}
                    loading="lazy"
                />
            </a>
            <div class="flex flex-col justify-center w-full md:w-1/2">
                <a
                    href={project.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="decoration-primary"
                >
                    <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
                        {project.title}
                    </h2>
                </a>
                <p class="mb-6 text-gray-300 text-lg leading-relaxed text-pretty">
                    {project.description}
                </p>
                <div class="flex flex-wrap gap-4 items-center">
                    <Social href={project.github}>
                        <GitHub class="size-5" />
                        Code
                    </Social>
                    <Social href={project.link}>
                        <Web class="size-5" />
                        Preview
                    </Social>
                </div>
            </div>
        </article>
    ))
}
